<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Traineeship Logbook</title>
</head>
<body>
<h2>Traineeship App LogBook</h2>

<div style="margin-bottom: 30px;">
    <h3>New Announcement</h3>
    <form th:action="@{/student/save_logbook}" method="post">
        <textarea name="content" rows="5" cols="50" placeholder="Περιγράψτε τι κάνατε σήμερα..." required></textarea>
        <br>
        <button type="submit">Save</button>
    </form>
</div>

<hr>

<div>
    <h3>My History</h3>
    <table border="1">
        <thead>
        <tr>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entries}">
            <td th:text="${entry.date}">01/01/2026</td>
            <td th:text="${entry.content}">The text will be shown here</td>
        </tr>
        </tbody>
    </table>

</div>

<br>
<a th:href="@{/student/dashboard}">Back to Dashboard</a>
</body>
</html>